{#
/**
 * @file
 * Default theme implementation to GBIF Publication generation.
 *
 * Available variables:
 *   - country_code
 *
 * @see template_preprocess_gbifpublications()
 *
 * @ingroup themeable
 */
#}
<div id="publications">
  <p>Génération complète</p>
  <p></p>
  <p>Pour voir les publications, allez sur la page <a href="../../gbifpublications/display/{{ country_code }}/0" target="_blank">/gbifpublications/display/{{ country_code }}/0</a></p>
</div>